@import '../../../main.scss';

.dashboard-section {
    width: 80%;
    height: 100%;
    padding: 20px;
    @include flex-column-center-y;
    justify-content: center;
    gap: 20px;

    .dashboard-title-progress-container {
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 20px;

        @include small-screen {
            margin-bottom: 50px;
        }

        @include medium-screen {
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: flex-end;
            margin-bottom: 0;
        }

        // LEFT SIDE
        .dashboard-left-side {
            width: 100%;

            @include medium-screen {
                width: 60%;
                flex-grow: 1;
            }
            h1 {
                font-size: 26pt;
                margin-bottom: 10px;
            }

            span {
                color: $green;
                padding: 0 10px;
            }

            h5 {
                padding-bottom: 25px;
            }

            .page-stats-container {
                width: 100%;
                @include flex-row;
                justify-content: center;
                gap: 15px;
                height: auto;
                background-color: $white;
                padding: 20px;
                border-radius: 10px;
                justify-content: space-between;
            }
        }

        // RIGHT SIDE
        .dashboard-right-side {
            @include grid-center;
        }
    }

    .time-stats-container {
        height: 400px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        gap: 15px;
        

        @include medium-screen {
            width: 100%;
            height: 300px;
            @include flex-row;    
        }
    }
}
