.bg-green {
    background-color: $green;
}

.bg-purple {
    background-color: $purple;
}

.bg-pink {
    background-color: $pink;
}

.bg-light-orange {
    background-color: $light-orange;
}

.bg-dark-orange {
    background-color: $dark-orange;
}

.bg-yellow {
    background-color: $yellow;
}
