@import '../../../main.scss';

aside {
    max-width: 200px;
    height: 95vh;
    background-color: $green;
    border-radius: 30px;
    padding: 20px 0;
    @include flex-row;

    .productivity-stats-container {
        @include flex-column-center;
        color: $white;
        text-align: center;
        padding: 10px;


        .weekend-greeting-container {
            @include flex-column-center;

            h3 {
                width: 60%;
                padding-bottom: 20px;
            };

            h6 {
                background-color: $yellow;
                padding: 5px;
                border-radius: 10px;
            }
            
            .icon-weekend {
                * {
                    font-size: 40pt;
                    color: $white;
                }
            }
        }

        .greeting-container {
            gap: 15px;
            color: $white;
            padding: 10px;
            text-align: center;


            .icon {
                * {
                    font-size: 30pt;

                    &:hover {
                        color: $yellow;
                    }

                    @include extra-small-screen {
                        font-size: 25pt;
                    }
                }
            }

            .sub-heading {
                margin-top: 20px;
            }

    
        }


        .daily-goals-container {
            padding: 10px 0;
        }

        .save-pdf-container {
            .small-btn {
                width: 100%;
                height: 40px;
                font-size: 8pt;
                @include flex-column-center;
            }
        }
    }
}