@import '../../../main.scss';

aside {
    max-width: 200px;
    height: 95vh;
    background-color: $green;
    border-radius: 30px;
    padding: 20px 0;
    display: flex;
    justify-content: center;

    .productivity-stats-container {
        @include flex-column-center;
        

        .greeting-container {
            gap: 15px;
            color: $white;
            padding: 10px;
            text-align: center;

            .icon {
                * {
                    font-size: 30pt;

                    &:hover {
                        color: $yellow;
                    }
                }
            }

            .sub-heading {
                margin-top: 20px;
            }

    
        }


        .daily-goals-container {
            padding: 10px 0;
        }

        .save-pdf-container {
            padding: 20px;
        }
    }
}