// Colors
$bg-color: #faf4e7;
$bg-ligther-color: #fffdf9;
$action-btn-blue-color: #3879f2;

$green: #61cc96;
$purple: #b4628c;
$pink: #ffa1bd;
$light-orange: #ffa162;
$dark-orange: #ff7c17;
$yellow: #ffd445;
$grey: #acadaf;
$black: #181818;
$white: #fff;


// Fonts
$noto-font: 'Noto Serif', serif; // font-weight: 400, 700
$prata-font: 'Prata', serif; // font-weight: 400