@import '../../../main.scss';

.input-field-container {
    @include flex-row;

    label {
        text-align: center;
    }

    input {
        display: block;
        width: 20px;
        height: 20px;
    }
}

.underline {
    
    &:hover {
        text-decoration: underline $green 2px;
    }

}